{% extends "base_generic.html" %}
{% load widget_tweaks %}

{% block content %}

    <!-- informs user if username/password do not match-->
    {% if form.errors %}
        <p>Your username and password do not match. Please try again.</p>
    {% endif %}

    <!-- informs users if they do not have access to view the page -->
    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. Please login with an account that has access.</p>
        {% endif %}
    {% endif %}

    <!-- Login form -->
    <div class="container">
        <div class="d-flex h-100">
             <div class="mx-auto" style="margin-top: 6rem">
                 <div>
                    <!-- form header -->
                    <div>
                        <h1>Login</h1>
                        <p>Please enter your username and password</p>
                    </div>

                    <form method="post" id="Login">
                        {% csrf_token %}

                        <div class="form-group">
                            {{ form.as_p }}
                        </div>

                        <div  class="form-group">
                            <input type="submit" class="btn btn-primary" value="Login" />
                            <input type="hidden" name="next" value="{{ next }}" />
                        </div>
                    </form>

                    <div class="forgot">
                        <p><a href="{% url 'password_reset' %}">Forgot password?</a></p>
                    </div>
                 </div>
            </div>
        </div>
    </div>

{% endblock %}