{% extends "base_generic.html" %}

{% block content %}

    <div class="container">
        <div class="d-flex h-100">
            <div class="mx-auto" style="margin-top: 6rem">
                <div class="alert alert-success text-center" role="alert">
                    <h1 class="display-4">Check your inbox!</h1>
                    <p class="lead">We've emailed you instructions for setting your password.
                    If they haven't arrived in a few minutes, check your spam folder.
                </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}