{% extends "base_generic.html" %}
{% load widget_tweaks %}

{% block content %}

    <!-- Brand list header -->
    <div class="card card-body bg-light" style="margin-top: 10px">
        <h1>Brand List</h1>
        <p>Click on a brand name to view more details.</p>
    </div>

    {% if brands %}
        <hr>
        <!-- Search filter -->
        <div>
            <form method="GET">
                <div class="card card-body bg-light" style="height: 12rem">
                    <h4 style="margin-top: 0">Search</h4>
                    <div class="row">
                        <div class="form-group col-sm-2">
                            {{ filter.form.brand_name.label_tag }}
                            {% render_field filter.form.brand_name class="form-control form-control-sm" %}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mr-auto">Search</button>
                </div>
            </form>
        </div>

        <hr>

        <!-- table displaying brand information -->
        <table class="table table-striped text-center">
            <thead class="table-info">
            <tr>
                <th scope="col">Brand Name</th>
                <th scope="col">Brand Website</th>
                <th scope="col">Product Count</th>
                <th scope="col">Action</th>
            </tr>
            </thead>

            <tbody>
            {% for brand in brands %}
                <tr>
                    <td><a href="{{ brand.get_absolute_url }}">{{ brand }}</a></td>
                    <td><a href="{{ brand.website }}">{{ brand.website }}</a></td>
                    <td>{{ brand.product_set.count }}</td>
                    <td>
                        <a class="btn" href="{% url 'brand-update' brand.pk%}">Update</a>
                        <a class="btn" href="{% url 'brand-delete' brand.pk %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <hr>
        <div class="container">
            <h4 class="text-center">There are no brands available.</h4>
        </div>
    {% endif %}

{% endblock %}