{% extends "base_generic.html" %}

{% block content %}
    <h1>{{ brand.brand_name }}</h1>
    <hr>
    <p><strong>Website:</strong> {{ brand.website }}</p>
    <a class="btn btn-success my-2 my-sm-0" href="{% url 'brand-update' brand.pk %}">Update Brand</a>
    <a class="btn btn-danger my-2 my-sm-0" href="{% url 'brand-delete' brand.pk %}">Delete</a>

  <div style="margin-top:20px">
    <h4>Brand Products</h4>

    {% for product in brand.product_set.all %}
        <ul class="list-group">
            <li class="list-group-item"><a href="{% url 'product-detail' product.pk %}">{{product}}</a> ({{product.productinstance_set.all.count}})</li>
            <li class="list-group-item"><strong>Code:</strong> {{product.code}}</li>
            <li class="list-group-item"><strong>Product Description:</strong> {{product.description}}</li>
            <li class="list-group-item"><strong>Category:</strong> {% for category in product.category.all %} {{ category }}{% if not forloop.last %}, {% endif %}{% endfor %}</li>
            <li class="list-group-item">
                {% for stock in product.productinstance_set.all %}
                <p class="{% if stock.status == 'y' %}text-success{% elif stock.status == 'n' %}text-danger{% else %}text-warning{% endif %}">{{ stock.get_status_display }}</p>
                {% endfor %}
            </li>
        <hr>
        </ul>

    {% endfor %}

  </div>
{% endblock %}