{% extends "base_generic.html" %}
{% load widget_tweaks %}

{% block content %}

    <!-- Gives user instruction and button to add a new product -->
    <div class="card card-body bg-light" style="margin-top: 10px">
        <h1>Product List</h1>
        <p class="card-text">Click on the product name to view more details.</p>
    </div>

    <!-- Search/Filter -->
    {% if products %}
        <hr>
        <div>
            <form method="GET">
                <div class="card card-body bg-light" style="height: 12rem">
                    <h4 style="margin-top: 0">Search</h4>
                    <div class="row">
                        <div class="form-group col">
                            {{ filter.form.code.label_tag }}
                            {% render_field filter.form.code class="form-control form-control-sm" %}
                        </div>
                        <div class="form-group col">
                            {{ filter.form.name.label_tag }}
                            {% render_field filter.form.name class="form-control form-control-sm" %}
                        </div>
                        <div class="form-group col">
                            {{ filter.form.brand.label_tag }}
                            {% render_field filter.form.brand class="form-control form-control-sm" %}
                        </div>
                        <div class="form-group col">
                            {{ filter.form.category.label_tag }}
                            {% render_field filter.form.category class="form-control form-control-sm" %}
                        </div>
                        <div class="form-group col">
                            {{ filter.form.ordering.label_tag }}
                            {% render_field filter.form.ordering class="form-control form-control-sm" %}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mr-auto">Search</button>
                </div>
            </form>
        </div>

        <hr>

        <!-- product table displaying product information -->
        <table class="table table-striped text-center table-hover">
            <thead class="table-info">
            <tr>
                <th scope="col">Code</th>
                <th scope="col">Name</th>
                <th scope="col">Brand</th>
                <th scope="col">Category</th>
                <th scope="col">Inventory Amount</th>
                <th scope="col">Price</th>
                <th scope="col">Date Added</th>
                <th scope="col">Action</th>
            </tr>
            </thead>

            <tbody>
            {% for product in filter.qs %}
                <tr>
                    <td>{{ product.code }}</td>
                    <td><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></td>
                    <td>{{product.brand}}</td>
                    <td>{% for category in product.category.all %} {{ category }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                    <td>{{product.inventory_amount}}</td>
                    <td>${{product.total_price}}</td>
                    <td>{{product.date_added}}</td>
                    <td>
                        <a class="btn" href="{% url 'product-update' product.pk%}">Update</a>
                        <a class="btn" href="{% url 'product-delete' product.pk %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


    {% else %}
        <hr>
        <div class="container">
        <h4 class="text-center">There are no products available.</h4>
        </div>
    {% endif %}

{% endblock %}